.spacing {
  margin-top: 20px;
}

#contact-submit {
  display: flex;
  justify-content: flex-end;
}

body {
  background-color: #F2F2F2;
}

h3 {
  display: flex;
  justify-content: center;
}

hr {
  width: 60%;
}

p {
  text-align: justify;
}

article::first-letter {
  font-size: 200%;
}

#profile_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: auto;
}

.social img {
  width: 40px;
  height: auto;
  padding-bottom: 5px;
}

.social img:hover {
  -webkit-animation-name: inflate;
}

.center-pills {
  display: flex;
  justify-content: center;
}

@-webkit-keyframes inflate {
  from {
    width: 40px;
    height: auto;
  }
  to {
    width: 70px;
    height: auto;
  }
}
