body {
  /*color: white;*/
  /*letter-spacing: 2px;*/
  font-weight: 300;
}

p {
  line-height: 2rem;
}

nav .brand-logo {
  position: absolute;
  right: 0;
  left: 0%;
}

.parallax-container {
  height: 350px;
}

footer.page-footer {
  margin: 0px;
}

.skills {
  border: 2px solid;
  border-radius: 20px;
  padding: 5px 15px 1px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.skill-section {
  display: flex;
  justify-content: center;
}

.skill-section .tldr {
  width: 600px;
}

.tldr div.p {
  text-align: center;
}

.tldr div.p span {
  display: none;
}

.front-end {
  color: orange;
  border-color: orange;
}

.back-end {
  color: red;
  border-color: red;
}

.other {
  color: teal;
  border-color: teal;
}

#nav-name {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  color: white;
}




.animation-target {
  -webkit-animation: animation 1200ms linear both;
  animation: animation 1200ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/rZ36kT */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 2000, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 2000, 0, 1); }
  2.4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -64.505, 1290.094, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -64.505, 1290.094, 0, 1); }
  2.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -63.238, 1264.756, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -63.238, 1264.756, 0, 1); }
  2.5% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -63.206, 1264.127, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -63.206, 1264.127, 0, 1); }
  3.3% { -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -53.692, 1073.85, 0, 1); transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -53.692, 1073.85, 0, 1); }
  4.1% { -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -45.185, 903.692, 0, 1); transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -45.185, 903.692, 0, 1); }
  4.9% { -webkit-transform: matrix3d(2.159, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -37.64, 752.795, 0, 1); transform: matrix3d(2.159, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -37.64, 752.795, 0, 1); }
  5.32% { -webkit-transform: matrix3d(2.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.137, 682.731, 0, 1); transform: matrix3d(2.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.137, 682.731, 0, 1); }
  5.42% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -33.322, 666.432, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -33.322, 666.432, 0, 1); }
  5.68% { -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -31.255, 625.096, 0, 1); transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -31.255, 625.096, 0, 1); }
  7.23% { -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, -20.788, 415.753, 0, 1); transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, -20.788, 415.753, 0, 1); }
  7.41% { -webkit-transform: matrix3d(0.927, 0, 0, 0, 0, 1.355, 0, 0, 0, 0, 1, 0, -19.771, 395.414, 0, 1); transform: matrix3d(0.927, 0, 0, 0, 0, 1.355, 0, 0, 0, 0, 1, 0, -19.771, 395.414, 0, 1); }
  7.82% { -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, -17.546, 350.916, 0, 1); transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, -17.546, 350.916, 0, 1); }
  8.81% { -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, -12.907, 258.143, 0, 1); transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, -12.907, 258.143, 0, 1); }
  9.81% { -webkit-transform: matrix3d(0.617, 0, 0, 0, 0, 1.499, 0, 0, 0, 0, 1, 0, -9.093, 181.851, 0, 1); transform: matrix3d(0.617, 0, 0, 0, 0, 1.499, 0, 0, 0, 0, 1, 0, -9.093, 181.851, 0, 1); }
  10.22% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -7.76, 155.203, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -7.76, 155.203, 0, 1); }
  10.36% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -7.346, 146.924, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -7.346, 146.924, 0, 1); }
  14.43% { -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 0.136, -2.727, 0, 1); transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 0.136, -2.727, 0, 1); }
  14.71% { -webkit-transform: matrix3d(0.776, 0, 0, 0, 0, 1.321, 0, 0, 0, 0, 1, 0, 0.398, -7.96, 0, 1); transform: matrix3d(0.776, 0, 0, 0, 0, 1.321, 0, 0, 0, 0, 1, 0, 0.398, -7.96, 0, 1); }
  16.61% { -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 1.554, -31.071, 0, 1); transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 1.554, -31.071, 0, 1); }
  18.56% { -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 2.004, -40.078, 0, 1); transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 2.004, -40.078, 0, 1); }
  19.62% { -webkit-transform: matrix3d(0.952, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 2.049, -40.985, 0, 1); transform: matrix3d(0.952, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 2.049, -40.985, 0, 1); }
  22.77% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 1.753, -35.051, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 1.753, -35.051, 0, 1); }
  22.87% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 1.737, -34.737, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 1.737, -34.737, 0, 1); }
  26.9% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 1.071, -21.413, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 1.071, -21.413, 0, 1); }
  27.5% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.978, -19.569, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.978, -19.569, 0, 1); }
  33.93% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0.278, -5.557, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0.278, -5.557, 0, 1); }
  35.25% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.199, -3.982, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.199, -3.982, 0, 1); }
  43.59% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.005, 0.106, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.005, 0.106, 0, 1); }
  48.15% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, -0.017, 0.337, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, -0.017, 0.337, 0, 1); }
  60.27% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, 0.075, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, 0.075, 0, 1); }
  72.08% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.001, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.001, 0, 1); }
  76.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 2000, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 2000, 0, 1); }
  2.4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -64.505, 1290.094, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -64.505, 1290.094, 0, 1); }
  2.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -63.238, 1264.756, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -63.238, 1264.756, 0, 1); }
  2.5% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -63.206, 1264.127, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -63.206, 1264.127, 0, 1); }
  3.3% { -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -53.692, 1073.85, 0, 1); transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -53.692, 1073.85, 0, 1); }
  4.1% { -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -45.185, 903.692, 0, 1); transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -45.185, 903.692, 0, 1); }
  4.9% { -webkit-transform: matrix3d(2.159, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -37.64, 752.795, 0, 1); transform: matrix3d(2.159, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -37.64, 752.795, 0, 1); }
  5.32% { -webkit-transform: matrix3d(2.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.137, 682.731, 0, 1); transform: matrix3d(2.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.137, 682.731, 0, 1); }
  5.42% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -33.322, 666.432, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -33.322, 666.432, 0, 1); }
  5.68% { -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -31.255, 625.096, 0, 1); transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -31.255, 625.096, 0, 1); }
  7.23% { -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, -20.788, 415.753, 0, 1); transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, -20.788, 415.753, 0, 1); }
  7.41% { -webkit-transform: matrix3d(0.927, 0, 0, 0, 0, 1.355, 0, 0, 0, 0, 1, 0, -19.771, 395.414, 0, 1); transform: matrix3d(0.927, 0, 0, 0, 0, 1.355, 0, 0, 0, 0, 1, 0, -19.771, 395.414, 0, 1); }
  7.82% { -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, -17.546, 350.916, 0, 1); transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, -17.546, 350.916, 0, 1); }
  8.81% { -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, -12.907, 258.143, 0, 1); transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, -12.907, 258.143, 0, 1); }
  9.81% { -webkit-transform: matrix3d(0.617, 0, 0, 0, 0, 1.499, 0, 0, 0, 0, 1, 0, -9.093, 181.851, 0, 1); transform: matrix3d(0.617, 0, 0, 0, 0, 1.499, 0, 0, 0, 0, 1, 0, -9.093, 181.851, 0, 1); }
  10.22% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -7.76, 155.203, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -7.76, 155.203, 0, 1); }
  10.36% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -7.346, 146.924, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -7.346, 146.924, 0, 1); }
  14.43% { -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 0.136, -2.727, 0, 1); transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 0.136, -2.727, 0, 1); }
  14.71% { -webkit-transform: matrix3d(0.776, 0, 0, 0, 0, 1.321, 0, 0, 0, 0, 1, 0, 0.398, -7.96, 0, 1); transform: matrix3d(0.776, 0, 0, 0, 0, 1.321, 0, 0, 0, 0, 1, 0, 0.398, -7.96, 0, 1); }
  16.61% { -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 1.554, -31.071, 0, 1); transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 1.554, -31.071, 0, 1); }
  18.56% { -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 2.004, -40.078, 0, 1); transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 2.004, -40.078, 0, 1); }
  19.62% { -webkit-transform: matrix3d(0.952, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 2.049, -40.985, 0, 1); transform: matrix3d(0.952, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 2.049, -40.985, 0, 1); }
  22.77% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 1.753, -35.051, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 1.753, -35.051, 0, 1); }
  22.87% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 1.737, -34.737, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 1.737, -34.737, 0, 1); }
  26.9% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 1.071, -21.413, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 1.071, -21.413, 0, 1); }
  27.5% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.978, -19.569, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.978, -19.569, 0, 1); }
  33.93% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0.278, -5.557, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0.278, -5.557, 0, 1); }
  35.25% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.199, -3.982, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.199, -3.982, 0, 1); }
  43.59% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.005, 0.106, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.005, 0.106, 0, 1); }
  48.15% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, -0.017, 0.337, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, -0.017, 0.337, 0, 1); }
  60.27% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, 0.075, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, 0.075, 0, 1); }
  72.08% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.001, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.001, 0, 1); }
  76.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

