.spacing {
  margin-top: 20px;
}

#contact-submit {
  display: flex;
  justify-content: flex-end;
}

body {
  background-color: #F2F2F2;
}

h3 {
  display: flex;
  justify-content: center;
}

hr {
  width: 60%;
}

p {
  text-align: justify;
}

article::first-letter {
  font-size: 200%;
}

.center-photo {
  width: 50%;
  margin: 0 auto;
}

.center-cropped {
  background-image: url(../images/babypicture.jpg);
  background-size: 180%;
  width: 20em;
  height: 20em;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%
}

.social img {
  width: 40px;
  height: auto;
  padding-bottom: 5px;
}

.social img:hover {
  -webkit-animation-name: inflate;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  text-decoration: none;
}

.center-pills {
  display: flex;
  justify-content: center;
}

@-webkit-keyframes inflate {
  25% {
    -webkit-transform: scale(1.1)
  }
  75% {
    -webkit-transform: scale(0.9);
  }
}
